<div class="modal fade" id="imagemodal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="btn-close mb-3" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                <div id="imagenGrande" style="width: 100%; height: 500px; background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
            </div>
        </div>
    </div>
</div>