@using SUVAN.BackOffice.Models.ViewModel.Logistica;
@using SUVAN.BackOffice.Models.ViewModel.Enums;
@using SUVAN.BackOffice.Portal.Helper;
@inject IUsuarioHelper UsuarioHelper
@{
    ViewData["Title"] = "Mantenimiento";
}

@* @{
    var permisosPagina = await UsuarioHelper.GetPermisosPagina(User, EnumOpcionMenu.Mecanico);
    if (permisosPagina == null)
    {
        return;
    }
    var isAgaregarText = Model.IdMecanico == 0 ? "Agregar" : "Editar";
} *@


<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar ">
    <!--begin::Toolbar container-->
    <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
        <!--begin::Toolbar wrapper-->
        <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
            <!--begin::Page title-->
            <div class="page-title d-flex flex-column justify-content-center gap-1 me-3">
                <!--begin::Title-->
                <a href="~/Mantenimiento/Index" class="page-heading d-flex justify-content-center align-center text-dark fw-bold fs-3 m-0 ">
                    <i class="ki-duotone ki-left fs-1 pe-5">
                    </i>
                    <span>@* @isAgaregarText *@ Orden Mantenimiento</span>
                </a>
                <!--end::Title-->

            </div>
            <!--end::Page title-->

        </div>
        <!--end::Toolbar wrapper-->
    </div>
    <!--end::Toolbar container-->
</div>
<!--end::Toolbar-->
<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-fluid">
        <!--begin::Card-->
        <div class="card">
            <div class="card-body py-4">
                <form class="form w-100" novalidate="novalidate" id="kt_mecanico_in_form" data-kt-redirect-url="/">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row mb-6">
                                <div class="col-sm-4 mb-3">
                                    <label class="required">Taller</label>
                                    <div class="input-group input-group-sm">
                                        <input class="form-control" id="tallerID" placeholder="Taller" readonly disabled />
                                        <input type="hidden" id="tallerIDHidden" name="idTaller">
                                        <span class="input-group-text" id="iconoTaller" style="cursor:pointer;">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4 mb-3">
                                    <label class="required">Tipo</label>
                                    <input class="form-control form-control-sm" placeholder="Tipo" readonly disabled/>
                                </div>
                                <div class="col-sm-4 mb-3">
                                    <label class="required">Mecánico</label>
                                    <div class="input-group input-group-sm">
                                        <input class="form-control" id="mecanicoID" placeholder="Mecánico" readonly disabled />
                                        <input type="hidden" id="mecanicoIDHidden" name="idTaller">
                                        <span class="input-group-text" id="iconoMecanico" style="cursor:pointer;">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-3">
                                    <label class="required">Vehículo</label>
                                    <div class="input-group input-group-sm">
                                        <input class="form-control" id="idVehiculo" placeholder="Vehículo" readonly disabled />
                                        <input type="hidden" id="vehiculoDHidden" name="idVehiculo">
                                        <span class="input-group-text" id="iconoVehiculo" style="cursor:pointer;">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-3">
                                    <label class="required">Marca</label>
                                    <input class="form-control form-control-sm" placeholder="Marca" readonly disabled />
                                </div>
                                <div class="col-sm-3 mb-3">
                                    <label class="required">Modelo</label>
                                    <input class="form-control form-control-sm" placeholder="Modelo" readonly disabled />
                                </div>
                                <div class="col-sm-3 mb-3">
                                    <label class="required">Placas</label>
                                    <input class="form-control form-control-sm" placeholder="Placas" readonly disabled />
                                </div>
                                <div class="col-sm-4 mb-3">
                                    <label class="required">Depósito Vehículo</label>
                                    <input class="form-control form-control-sm" placeholder="Depósito Vehículo" readonly disabled />
                                </div>
                                <div class="col-sm-4 mb-3">
                                    <label class="required">Kms. Entrada</label>
                                    <input class="form-control form-control-sm" placeholder="Kms. Entrada" />
                                </div>
                                <div class="col-sm-4 mb-3">
                                    <label class="required">Tanque</label>
                                    <select class="form-select form-select-sm">
                                        <option value=0>Selecciona el tamaño de Tanque</option>
                                        <option value=1>1/4</option>
                                        <option value=2>1/8</option>
                                    </select>
                                </div>
                                <div class="col-sm-4 mb-3">
                                    <label class="required">Tipo de Servicio</label>
                                    <div class="input-group input-group-sm">
                                        <input class="form-control" id="idTipoServicio" placeholder="Tipo de Servicio" readonly disabled />
                                        <input type="hidden" id="servicioIDHidden" name="tipoServicio">
                                        <span class="input-group-text" id="iconoServicio" style="cursor:pointer;">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4 mb-3">
                                    <label class="required">Preventivo</label>
                                    <div class="input-group input-group-sm">
                                        <input class="form-control" id="idPreventivo" placeholder="Preventivo" readonly disabled />
                                        <input type="hidden" id="preventivoIDHidden" name="Preventivo">
                                        <span class="input-group-text" id="iconoPreventivo" style="cursor:pointer;">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4 mb-3">
                                    <label class="required">Causa Mantenimiento</label>
                                    <div class="input-group input-group-sm">
                                        <input class="form-control" id="causaMantenimientoID" placeholder="Causa Mantenimiento" readonly disabled />
                                        <input type="hidden" id="causaMantenimientoIDHidden" name="causaMantenimiento">
                                        <span class="input-group-text" id="iconoCausaMantenimiento" style="cursor:pointer;">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-2 mb-3">
                                    <label class="required">Fecha Captura</label>
                                    <input type="date" class="form-control form-control-sm" />
                                </div>
                                <div class="col-sm-2 mb-3">
                                    <label class="required">Fecha Programada</label>
                                    <input type="date" class="form-control form-control-sm" />
                                </div>
                                <div class="col-sm-2 mb-3">
                                    <label class="required invisible">Agregar Reparación</label>
                                    <button id="btn_agregar_reparacion" type="button" class="btn btn-primary btn-sm">
                                        <span class="indicator-label">Agregar Reparación</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_mantenimiento">
                        <thead>
                            <tr class="text-center text-muted fw-bold fs-7 text-uppercase gs-0">
                                <th class="min-w-125px">Reparación</th>
                                <th class="min-w-125px">Cantidad</th>
                                <th class="min-w-125px">Referencia</th>
                                <th class="min-w-125px">Valor</th>
                            </tr>
                        </thead>
                        <tbody id="tablaReparaciones" class="text-gray-600 fw-semibold" style="width: 800px; table-layout: fixed;">
                        </tbody>
                        <template id="template-fila-reparacion">
                            <tr>
                                <td>
                                    <div class="input-group input-group-sm w-100">
                                        <input class="form-control reparacion-descripcion" readonly disabled />
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group input-group-sm w-100">
                                        <input type="number" class="form-control cantidad" />
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group input-group-sm w-100">
                                        <input type="text" class="form-control referencia" />
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group input-group-sm w-100">
                                        <input type="number" class="form-control valor" readonly disabled />
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group input-group-sm">
                                        <button type="button" class="btn btn-danger btn-sm btn-eliminar-fila">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </template>
                    </table>
                    <div class="text-start mt-3">
                    </div>
                    <div class="text-end mt-3">
                        <button type="submit" id="kt_mecanico_in_submit" class="btn btn-primary btn-sm">
                            <span class="indicator-label">Guardar</span>
                            <span class="indicator-progress">
                                Por favor espere...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Content container-->
</div>

<!-- Ventana modal-->
<div class="modal modal-lg fade" tabindex="-1" id="kt_modal_mantenimiento_taller" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitulo">Título</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body" id="modal-body">
                <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_tabla_mantenimiento">
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--end::Content-->
@section scripts {
    <script src="~/js/logistica/mantenimiento/add.js"></script>
    <script src="~/assets/js/widgets.bundle.js"></script>
    <script src="~/assets/js/custom/widgets.js"></script>
}