@using SUVAN.BackOffice.Models.ViewModel.Comercial;
@using SUVAN.BackOffice.Models.ViewModel.Enums;
@using SUVAN.BackOffice.Portal.Helper;
@inject IUsuarioHelper UsuarioHelper
@{
    ViewData["Title"] = "DetalleUnidad";
}
@model List<SeguroUnidadViewModel>

@{
    var permisosPagina = await UsuarioHelper.GetPermisosPagina(User, EnumOpcionMenu.gestionDeUnidades);
    if (permisosPagina == null)
    {
        return;
    }
}


<table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_seguro_unidad">
    <thead>
        <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
            <th class="min-w-125px">Número de póliza</th>
            <th class="min-w-125px">Fecha fin seguro</th>
        </tr>
    </thead>
    <tbody class="text-gray-600 fw-semibold">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.NumeroPoliza
                </td>
                <td class="date-cell">
                    @item.FechaFinSeguro
                </td>
            </tr>

        }
    </tbody>
</table>