

<div class="modal modal-lg fade" tabindex="-1" id="kt_modal_agregar">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Agregar estación</h3>

        <!--begin::Close-->
        <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
          <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
        </div>
        <!--end::Close-->
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative mb-2">
              <i class="ki-outline ki-magnifier fs-3 position-absolute ms-5"></i>
              <input type="text" id="search-estacion" class="form-control form-control-solid ps-13" placeholder="Buscar estación" />
            </div>
            <!--end::Search-->
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 my-2 d-flex">
            <div class="form-check form-check-custom form-check-solid me-10">
              <input class="form-check-input h-20px w-20px" type="radio" value="1" id="cksubida" name="cktipoestacion" />
              <label class="form-check-label" for="cksubida">
                Solo subida
              </label>
            </div>
            <div class="form-check form-check-custom form-check-solid me-10">
              <input class="form-check-input h-20px w-20px" type="radio" value="2" id="cksubidabajada" name="cktipoestacion" />
              <label class="form-check-label" for="cksubidabajada">
                Subida y bajada
              </label>
            </div>
            <div class="form-check form-check-custom form-check-solid me-10">
              <input class="form-check-input h-20px w-20px" type="radio" value="3" id="ckbajada" name="cktipoestacion" />
              <label class="form-check-label" for="ckbajada">
                Solo bajada
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 my-4">
            <div id="autocomplete-list"></div>
            @*           <div class="form-check form-check-custom form-check-solid my-4">
            <input class="form-check-input" name="cbestacion" type="radio" value="" id="flexCheckboxSm" />
            <label class="form-check-label" for="flexCheckboxSm">
            Metro Constitución
            </label>
            </div>
            <div class="form-check form-check-custom form-check-solid my-4">
            <input class="form-check-input" name="cbestacion" type="radio" value="" id="flexCheckboxSm2" />
            <label class="form-check-label" for="flexCheckboxSm2">
            Metro constituyentes
            </label>
            </div>
            <div class="form-check form-check-custom form-check-solid my-4">
            <input class="form-check-input" name="cbestacion" type="radio" value="" id="flexCheckboxSm3" />
            <label class="form-check-label" for="flexCheckboxSm3">
            Avenida Constrantinopla
            </label>
            </div> *@
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="search-agregar-estacion">Agregar</button>
      </div>
    </div>
  </div>
</div>