

<div class="modal modal-lg fade" tabindex="-1" id="kt_modal_seleccionar_punto">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Seleccionar Punto</h3>

        <!--begin::Close-->
        <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
          <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
        </div>
        <!--end::Close-->
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col">
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-2">
              <i class="ki-outline ki-magnifier fs-3 position-absolute ms-5"></i>
              <input type="text" id="search-place" class="form-control form-control-solid ps-13" placeholder="Buscar ubicación" />
            </div>
            <!--end::Search-->
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 my-2">
            <div id="mapModal" class="w-100 rounded mb-2 mb-lg-0 mt-2 leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" style="height: 550px; width: 100%;"></div>

          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="seleccionar-punto">Agregar</button>
      </div>
    </div>
  </div>
</div>