@using SUVAN.BackOffice.Models.ViewModel.Configuracion
@using SUVAN.BackOffice.Models.ViewModel.Enums;
@using SUVAN.BackOffice.Portal.Helper;
@using static SUVAN.BackOffice.Models.StoredsProcedures.ModelsStoredsProcedures
@inject IUsuarioHelper UsuarioHelper

@{
  ViewData["Title"] = "Configuración de rutas";
}
@model List<ModelRutaConfiguracion>

@{
  var permisosPagina = await UsuarioHelper.GetPermisosPagina(User, EnumOpcionMenu.rutas);
  if (permisosPagina == null)
  {
    return;
  }
}
<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar ">
  <!--begin::Toolbar container-->
  <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
    <!--begin::Toolbar wrapper-->
    <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
      <!--begin::Page title-->
      <div class="page-title d-flex flex-column justify-content-center gap-1 me-3">
        <!--begin::Title-->
        <h1 class="page-heading d-flex flex-column justify-content-center text-dark fw-bold fs-3 m-0">Estatus de configuración de rutas</h1>
        <!--end::Title-->

      </div>
      <!--end::Page title-->
      <!--begin::Actions-->
      <!--end::Actions-->
    </div>
    <!--end::Toolbar wrapper-->
  </div>
  <!--end::Toolbar container-->
</div>
<!--end::Toolbar-->
<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
  <!--begin::Content container-->
  <div id="kt_app_content_container" class="app-container container-fluid">
    <!--begin::Card-->
    <div class="card">
      <!--begin::Card header-->
      <div class="card-header border-0 pt-6">
        <!--begin::Card title-->
        <div class="card-title">
          <!--begin::Search-->
          <div class="d-flex align-items-center position-relative my-1">
            <i class="ki-outline ki-magnifier fs-3 position-absolute ms-5"></i>
            <input type="text" data-kt-ruta-table-filter="search" class="form-control form-control-solid w-450px ps-13" placeholder="Buscar" />
          </div>
          <!--end::Search-->
        </div>
        <!--begin::Card title-->

      </div>
      <!--end::Card header-->
      <!--begin::Card body-->
      <div class="card-body py-4">
        <!--begin::Table-->
        <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_ruta">
          <thead>
            <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">

              <th>Nombre de la ruta</th>
              <th>Configuración de corrida</th>
              <th>Configuración de horario estaciones</th>
              <th>Asignación Chofer / Unidad</th>
              <th>Configuración tarifa</th>




            </tr>
          </thead>
          <tbody class="text-gray-600 fw-semibold">

            @foreach (var ruta in Model)
            {
              <tr>
                <td>
                  <input type="hidden" data-kt-ruta-table-filter="row_id" value="@ruta.idruta" />
                  @ruta.nombre
                </td>
                <td>
                  @{
                    var colorCorrida = ruta.corrida ? "bg-success" : "bg-danger";
                  }
                  <div class="d-flex justify-content-center align-items-center text-white @colorCorrida rounded-circle" style="width: 40px; height: 40px;">
                  </div>

                </td>
                <td>
                  @{
                    var colorEstacion = ruta.estacion ? "bg-success" : "bg-danger";
                  }
                  <div class="d-flex justify-content-center align-items-center  text-white @colorEstacion rounded-circle" style="width: 40px; height: 40px;">
                  </div>

                </td>
                <td>
                  @{
                    var colorAsignacion = ruta.asignacion ? "bg-success" : "bg-danger";
                  }
                  <div class="d-flex justify-content-center align-items-center  text-white @colorAsignacion rounded-circle" style="width: 40px; height: 40px;">
                  </div>

                </td>
                <td>
                  @{
                    var colorTarifa = (ruta.tarifaEsc || ruta.tarifaGen) ? "bg-success" : "bg-danger";
                  }
                  <div class="d-flex justify-content-center align-items-center  text-white @colorTarifa rounded-circle" style="width: 40px; height: 40px;">
                  </div>

                </td>

              </tr>

            }
          </tbody>
        </table>
        <!--end::Table-->
      </div>
      <!--end::Card body-->
    </div>
    <!--end::Card-->
  </div>
  <!--end::Content container-->
</div>
<!--end::Content-->
@section scripts {
  <script src="~/js/rutas/table.js" asp-append-version="true"></script>

}