@using SUVAN.BackOffice.Models.ViewModel.Configuracion;
@using SUVAN.BackOffice.Models.ViewModel.Enums;
@using SUVAN.BackOffice.Portal.Helper;
@inject IUsuarioHelper UsuarioHelper
@{
  ViewData["Title"] = "Corridas";
}
@model AgregarCorridaViewModel

@{
  var permisosPagina = await UsuarioHelper.GetPermisosPagina(User, EnumOpcionMenu.corridas);
  if (permisosPagina == null)
  {
    return;
  }
  var isAgaregarText = Model.RutaId == 0 ? "Agregar" : "Editar";
}

<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar ">
  <!--begin::Toolbar container-->
  <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
    <!--begin::Toolbar wrapper-->
    <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
      <!--begin::Page title-->
      <div class="page-title d-flex flex-column justify-content-center gap-1 me-3">
        <!--begin::Title-->
        <a href="~/corridas" class="page-heading d-flex justify-content-center align-center text-dark fw-bold fs-3 m-0 ">
          <i class="ki-duotone ki-left fs-1 pe-5">
          </i>
          <span>Editar corrida</span>
        </a>
        <!--end::Title-->

      </div>
      <!--end::Page title-->

    </div>
    <!--end::Toolbar wrapper-->
  </div>
  <!--end::Toolbar container-->
</div>
<!--end::Toolbar-->
<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
  <!--begin::Content container-->
  <div id="kt_app_content_container" class="app-container container-fluid">
    <form class="form w-100" novalidate="novalidate" id="kt_corridas_in_form" data-kt-redirect-url="/" asp-controller="Corridas" asp-action="Agregar" method="post">
      @Html.AntiForgeryToken()
      <div asp-validation-summary="All" class="text-danger"></div>
      <input asp-for="RutaId" type="hidden" />
      <input type="hidden" id="agregarCorrida" name="agregarCorrida" />

      <div class="table-responsive">
        <table class="table" id="table-horarios">
          <thead>
            <tr class="fw-bold fs-4 text-gray-800">
              <th colspan="2">Horario</th>
              <th colspan="7">Frecuencia</th>
            </tr>
            <tr class="fw-bold fs-7 text-gray-400">
              <th>Inicio</th>
              <th>Fin</th>
              <th>Lunes</th>
              <th>Martes</th>
              <th>Míercoles</th>
              <th>Jueves</th>
              <th>Viernes</th>
              <th>Sábado</th>
              <th>Domingo</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for (int i = 0; i < Model.Corridas.Count; i++)
            {
              <tr>
                <td>
                  <input asp-for="Corridas[i].CorridaId" type="hidden" />
                  <input asp-for="Corridas[i].Inicio" type="time" class="form-control bg-transparent" />
                  <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                    <span asp-validation-for="Corridas[i].Inicio"></span>
                  </div>

                </td>

                <td>
                  <input asp-for="Corridas[i].Fin" type="time" class="form-control bg-transparent" />
                  <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                    <span asp-validation-for="Corridas[i].Fin"></span>
                  </div>
                </td>


                @for (int j = 0; j < Model.Corridas[i].Dias.Count; j++)
                {
                  <td>

                    <div class="form-check">
                      @* <label asp-for="Corridas[i].Dias[j].Activo" class="form-check-label"></label> *@
                      <input asp-for="Corridas[i].Dias[j].Activo" class="form-check-input" />
                    </div>

                    <input asp-for="Corridas[i].Dias[j].DiaId" type="hidden" />
                    <input asp-for="Corridas[i].Dias[j].Nombre" type="hidden" />
                    <input asp-for="Corridas[i].Dias[j].Orden" type="hidden" />
                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                      <span asp-validation-for="Corridas[i].Dias[j].Activo"></span> <!-- Mostrar mensajes de error para los días -->
                    </div>


                  </td>
                }
                <td class="py-0">
                  @* validar si es el ultimo elemento para mostrar el eliminar *@
                  @if (i == Model.Corridas.Count - 1 && Model.Corridas[i].CorridaId == 0)
                  {
                    <input type="submit" class="btn btn-sm btn-outline btn-outline-primary  btn-color-gray-700 btn-active-color-primary bg-body h-25px py-1 fw-bold" name="agregarCorrida" value="-" data-kt-corridas-horario-table-filter="delete_new_row" />
                  }
                  else if (Model.Corridas[i].CorridaId > 0)
                  {
                    <span class="fw-bold fs-7 text-gray-400 me-2">
                      @* <input type="submit" class="btn btn-icon btn-active-light-primary w-30px h-30px" name="agregarCorrida" value="@Model.Corridas[i].CorridaId" /> *@
                      <a href="#" class="btn btn-icon btn-active-light-primary w-30px h-30px" data-kt-corridas-horario-delete-item="@Model.Corridas[i].CorridaId" data-kt-corridas-horario-table-filter="delete_row">
                        <i class="ki-outline ki-trash fs-1"></i>
                      </a>
                    </span>
                  }

                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>



      <input type="submit" name="agregarCorrida" value="+" data-kt-corridas-horario-table-filter="add_new_row" class="btn btn-flex btn-outline btn-outline-primary  btn-color-gray-700 btn-active-color-primary bg-body h-40px fs-7 fw-bold" />





      <div class="row">
        <div class="col-md-12 my-10">
          <div class="mb-10 text-end">
            <input type="submit" id="kt_corridas_in_submit" class="btn btn-primary" name="agregarCorrida" value="Guardar" data-kt-corridas-horario-table-filter="save_all" />
            @*   <!--begin::Indicator label-->
            <span class="indicator-label">Guardar</span>
            <!--end::Indicator label-->
            <!--begin::Indicator progress-->
            <span class="indicator-progress">
            Por favor espere...
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
            <!--end::Indicator progress-->
            </input> *@
          </div>
        </div>
      </div>
    </form>
  </div>
  <!--end::Content container-->
</div>
<!--end::Content-->
@section scripts {
  <script src="~/js/configuracion/corridas/add.js" asp-append-version="true"></script>
  <script src="~/assets/js/widgets.bundle.js"></script>
  <script src="~/assets/js/custom/widgets.js"></script>


  <script>
    function removerCorrida(index) {
      // Eliminar el elemento en la posición 'index' del array
      var detalles = @Html.Raw(Json.Serialize(Model.Corridas));
      detalles.splice(index, 1);

      // Actualizar el modelo en el formulario
      $('input[name="Detalles"]').val(JSON.stringify(detalles));

      // Actualizar la vista
      location.reload();
    }
  </script>


}