@using SUVAN.BackOffice.Models.ViewModel.Enums;
@using SUVAN.BackOffice.Models.ViewModel.Logistica
@using SUVAN.BackOffice.Portal.Helper;
@inject IUsuarioHelper UsuarioHelper
@{
    ViewData["Title"] = "Vehiculo Detalles";
}
@model VehiculoDetalleViewModel

@{
    var permisosPagina = await UsuarioHelper.GetPermisosPagina(User, EnumOpcionMenu.VehiculoDetalle);
    if (permisosPagina == null)
    {
        return;
    }
}

<div class="card card-bordered mb-5">
    <div class="card-header">
        <h3 class="card-title">Ubicación y Documentación</h3>
    </div>
    <div class="card-body py-2">
        <div class="row">
            <div class="col-sm-3 mb-2">
                <div class="fv-row mb-2">
                    <label asp-for="IdZona" class="col-form-label text-gray-600 required">Zona</label>
                    <div class="input-group input-group-sm">
                        <input asp-for="IdZona" class="form-control form-control-sm bg-transparent bg-light text-muted" placeholder="Zona" readonly disabled />
                        <span class="input-group-text" id="iconoZona" style="cursor:pointer;">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <span asp-validation-for="IdZona" class="invalid-feedback d-block"></span>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="fv-row mb-2">
                    <label asp-for="IdDeposito" class="col-form-label text-gray-600 required">Depósito</label>
                    <div class="input-group input-group-sm">
                        <input asp-for="IdDeposito" class="form-control form-control-sm bg-transparent bg-light text-muted" placeholder="Depósito" readonly disabled />
                        <span class="input-group-text" id="iconoDeposito" style="cursor:pointer;">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <span asp-validation-for="IdDeposito" class="invalid-feedback d-block"></span>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="fv-row mb-2">
                    <label asp-for="CopiaFactura" class="col-form-label text-gray-600 required">Copia de Factura</label>
                    <select asp-for="CopiaFactura" class="form-control form-control-sm">
                        <option value="">Selecciona una Opción</option>
                        <option value="1">Sí</option>
                        <option value="0">No</option>
                    </select>
                    <span asp-validation-for="CopiaFactura" class="invalid-feedback"></span>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="fv-row mb-2">
                    <label asp-for="CopiaPlaca" class="col-form-label text-gray-600 required">Copia de la Placa</label>
                    <select asp-for="CopiaPlaca" class="form-control form-control-sm">
                        <option value="">Selecciona una Opción</option>
                        <option value="1">Sí</option>
                        <option value="0">No</option>
                    </select>
                    <span asp-validation-for="CopiaPlaca" class="invalid-feedback"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 mb-2">
                <div class="fv-row mb-2">
                    <label asp-for="CopiaVerificacion" class="col-form-label text-gray-600 required">Copia de Verificación</label>
                    <select asp-for="CopiaVerificacion" class="form-control form-control-sm">
                        <option value="">Selecciona una Opción</option>
                        <option value="1">Sí</option>
                        <option value="0">No</option>
                    </select>
                    <span asp-validation-for="CopiaVerificacion" class="invalid-feedback"></span>
                </div>
            </div>
            <div class="col-sm-4 mb-2">
                <div class="fv-row mb-2">
                    <label asp-for="CopiaTarjetaCir" class="col-form-label text-gray-600 required">Copia de Tarjeta de Circulación</label>
                    <select asp-for="CopiaTarjetaCir" class="form-control form-control-sm">
                        <option value="">Selecciona una Opción</option>
                        <option value="1">Sí</option>
                        <option value="0">No</option>
                    </select>
                    <span asp-validation-for="CopiaTarjetaCir" class="invalid-feedback"></span>
                </div>
            </div>
            <div class="col-sm-4 mb-2">
                <div class="fv-row mb-2">
                    <label asp-for="CopiaPolizaSeguro" class="col-form-label text-gray-600 required">Copia de la Poliza Seguro</label>
                    <select asp-for="CopiaPolizaSeguro" class="form-control form-control-sm">
                        <option value="">Selecciona una Opción</option>
                        <option value="1">Sí</option>
                        <option value="0">No</option>
                    </select>
                    <span asp-validation-for="CopiaPolizaSeguro" class="invalid-feedback"></span>
                </div>
            </div>
        </div>
        <div class="text-end mt-4">
            <button type="button" class="btn btn-primary btn-sm" onclick="irASiguienteTab('compracosto')">Siguiente</button>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/logistica/vehiculodetalle/navvehiculodetalle.js"></script>
    <script src="~/js/logistica/vehiculodetalle/add.js"></script>
}