@using SUVAN.BackOffice.Models.ViewModel.Enums;
@using SUVAN.BackOffice.Models.ViewModel.Logistica
@using SUVAN.BackOffice.Portal.Helper;
@inject IUsuarioHelper UsuarioHelper
@{
    ViewData["Title"] = "Vehiculo Detalles";
}
@model VehiculoDetalleViewModel

@{
    var permisosPagina = await UsuarioHelper.GetPermisosPagina(User, EnumOpcionMenu.VehiculoDetalle);
    if (permisosPagina == null)
    {
        return;
    }
}
<div class="card card-bordered mb-5">
    <div class="card-header">
        <h3 class="card-title">Ubicación y Documentación</h3>
    </div>
    <div class="card-body py-2">
        <div class="row">
            <div class="col-sm-3 mb-2">
                <div class="fv-row mb-2">
                    <label asp-for="IdZona" class="col-form-label text-gray-600 required">Zona</label>
                    <div class="input-group input-group-sm">
                        <input type="text" value="@Model.NombreZona" class="form-control form-control-sm bg-transparent bg-light text-muted" placeholder="Zona" data-catalog-for="IdZona" readonly disabled />
                        <span class="input-group-text" style="cursor:pointer;">
                            <i class="fas fa-search show-modal-catalog" data-suvan-catalog="zona" data-suvan-catalog-description="descripcion"></i>
                        </span>
                    </div>
                    <input asp-for="IdZona" type="hidden" id="IdZona" name="IdZona" />
                    <span asp-validation-for="IdZona" class="invalid-feedback d-block"></span>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="fv-row mb-2">
                    <label asp-for="IdDeposito" class="col-form-label text-gray-600 required">Depósito</label>
                    <div class="input-group input-group-sm">
                        <input value="@Model.NombreDeposito" type="text" class="form-control form-control-sm bg-transparent bg-light text-muted catalog-des" placeholder="Depósito" data-catalog-for="IdDeposito" readonly disabled />
                        <span class="input-group-text" style="cursor:pointer;">
                            <i class="fas fa-search show-modal-catalog" data-suvan-catalog="deposito" data-suvan-catalog-description="descripcion" data-suvan-catalog-filtro="IdZona"></i>
                        </span>
                    </div>
                    <input asp-for="IdDeposito" type="hidden" id="IdDeposito" name="IdDeposito" />
                    <span asp-validation-for="IdDeposito" class="invalid-feedback d-block"></span>
                </div>
            </div>
            <div class="col-sm-2 mb-2">
                <div class="fv-row mb-2">
                    <label asp-for="CopiaFactura" class="col-form-label text-gray-600 required d-block">Copia de Factura</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="CopiaFactura" value="1" id="radioFacturaSi">
                        <label class="form-check-label" for="radioFacturaSi">Sí</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="CopiaFactura" value="0" id="radioFacturaNo">
                        <label class="form-check-label" for="radioFacturaNo">No</label>
                    </div>
                    <span asp-validation-for="CopiaFactura" class="invalid-feedback"></span>
                </div>
            </div>
            <div class="col-sm-2 mb-2">
                <div class="fv-row mb-2">
                    <label asp-for="CopiaPlaca" class="col-form-label text-gray-600 required d-block">Copia de la Placa</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="CopiaPlaca" value="1" id="radioPlacaSi">
                        <label class="form-check-label" for="radioPlacaSi">Sí</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="CopiaPlaca" value="0" id="radioPlacaNo">
                        <label class="form-check-label" for="radioPlacaNo">No</label>
                    </div>
                    <span asp-validation-for="CopiaPlaca" class="invalid-feedback"></span>
                </div>
            </div>
            <div class="col-sm-2 mb-2">
                <div class="fv-row mb-2">
                    <label asp-for="CopiaVerificacion" class="col-form-label text-gray-600 required d-block">Copia de Verificación</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="CopiaVerificacion" value="1" id="radioVerificacionSi">
                        <label class="form-check-label" for="radioVerificacionSi">Sí</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="CopiaVerificacion" value="0" id="radioVerificacionNo">
                        <label class="form-check-label" for="radioVerificacionNo">No</label>
                    </div>
                    <span asp-validation-for="CopiaVerificacion" class="invalid-feedback"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 mb-2">
                <div class="fv-row mb-2">
                    <label asp-for="CopiaTarjetaCir" class="col-form-label text-gray-600 required d-block">Copia de Tarjeta de Circulación</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="CopiaTarjetaCir" value="1" id="radioTarjetaCirSi">
                        <label class="form-check-label" for="radioTarjetaCirSi">Sí</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="CopiaTarjetaCir" value="0" id="radioTarjetaCirNo">
                        <label class="form-check-label" for="radioTarjetaCirNo">No</label>
                    </div>
                    <span asp-validation-for="CopiaTarjetaCir" class="invalid-feedback"></span>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="fv-row mb-2">
                    <label asp-for="CopiaPolizaSeguro" class="col-form-label text-gray-600 required d-block">Copia de la Poliza de Seguro</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="CopiaPolizaSeguro" value="1" id="radioPolizaSi">
                        <label class="form-check-label" for="radioPolizaSi">Sí</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="CopiaPolizaSeguro" value="0" id="radioPolizaNo">
                        <label class="form-check-label" for="radioPolizaNo">No</label>
                    </div>
                    <span asp-validation-for="CopiaPolizaSeguro" class="invalid-feedback"></span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between mt-5">
            <button type="button" class="btn btn-primary btn-sm" onclick="irATabAnterior()">Anterior</button>
            <button type="button" class="btn btn-primary btn-sm btn-next-tab" data-current="ubicaciondocumentacion" data-next="compracosto">Siguiente </button>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/logistica/vehiculodetalle/navvehiculodetalle.js"></script>
    <script src="~/js/logistica/vehiculodetalle/add.js"></script>
    <script src="~/js/logistica/vehiculodetalle/validaciones.js"></script>
}