@using SUVAN.BackOffice.Database.Entities
@using SUVAN.BackOffice.Models.ViewModel.Logistica
@using SUVAN.BackOffice.Models.ViewModel.Enums
@using SUVAN.BackOffice.Portal.Helper
@inject IUsuarioHelper UsuarioHelper

@model SUVAN.BackOffice.Database.Entities.VehiculoDetalle

@{
    ViewData["Title"] = "Vehículo Detalle";



    var permisosPagina = await UsuarioHelper.GetPermisosPagina(User, EnumOpcionMenu.VehiculoDetalle);



    if (permisosPagina == null)

    {
        <div class="alert alert-danger" role="alert">
            No tienes permisos para acceder a esta página.
        </div>
        return;

    }



    var isAgregarText = Model != null ? Model.IdVehicDetalle == 0 ? "Agregar" : "Editar" : "";
}

<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar">
    <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
        <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
            <div class="page-title d-flex flex-column justify-content-center gap-1 me-3">
                <a href="~/VehiculoDetalle/Index" class="page-heading d-flex justify-content-center align-center text-dark fw-bold fs-3 m-0">
                    <i class="ki-duotone ki-left fs-1 pe-5"></i>
                    <span>@isAgregarText Vehículo</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!--end::Toolbar-->
<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
    <div id="kt_app_content_container" class="app-container container-fluid">
        <div class="card">
            <div class="card-body py-4">
                <form class="form w-100" novalidate="novalidate" id="kt_vehiculo_in_form"
                      asp-controller="VehiculoDetalle" asp-action="AgregarVehiculo" method="post">
                    @Html.AntiForgeryToken()
                    <input asp-for="IdVehicDetalle" type="hidden" />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="fv-row mb-3">
                                <label asp-for="IdVehiculo" class="col-form-label text-gray-600">ID Vehículo</label>
                                <input asp-for="IdVehiculo" class="form-control bg-transparent" placeholder="ID Vehículo" />
                                <span asp-validation-for="IdVehiculo" class="invalid-feedback"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="fv-row mb-3">
                                <label asp-for="IdTipovehi" class="col-form-label text-gray-600">Tipo Vehículo</label>
                                <input asp-for="IdTipovehi" class="form-control bg-transparent" placeholder="Tipo Vehículo" />
                                <span asp-validation-for="IdTipovehi" class="invalid-feedback"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="fv-row mb-3">
                                <label asp-for="IdMarca" class="col-form-label text-gray-600">Marca</label>
                                <input asp-for="IdMarca" class="form-control bg-transparent" placeholder="Marca" />
                                <span asp-validation-for="IdMarca" class="invalid-feedback"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="fv-row mb-3">
                                <label asp-for="IdZona" class="col-form-label text-gray-600">Zona</label>
                                <input asp-for="IdZona" class="form-control bg-transparent" placeholder="Zona" />
                                <span asp-validation-for="IdZona" class="invalid-feedback"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="fv-row mb-3">
                                <label asp-for="IdDeposito" class="col-form-label text-gray-600">Depósito</label>
                                <input asp-for="IdDeposito" class="form-control bg-transparent" placeholder="Depósito" />
                                <span asp-validation-for="IdDeposito" class="invalid-feedback"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="fv-row mb-3">
                                <label asp-for="IdEspeci" class="col-form-label text-gray-600">Especificaciones</label>
                                <input asp-for="IdEspeci" class="form-control bg-transparent" placeholder="Especificaciones" />
                                <span asp-validation-for="IdEspeci" class="invalid-feedback"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="fv-row mb-3">
                                <label asp-for="IdModelo" class="col-form-label text-gray-600">Modelo</label>
                                <input asp-for="IdModelo" class="form-control bg-transparent" placeholder="Modelo" />
                                <span asp-validation-for="IdModelo" class="invalid-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="fv-row mb-3">
                                <label asp-for="IdPermisoAceite" class="col-form-label text-gray-600">Permiso Aceite</label>
                                <input asp-for="IdPermisoAceite" class="form-control bg-transparent" placeholder="Permiso Aceite" />
                                <span asp-validation-for="IdPermisoAceite" class="invalid-feedback"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="fv-row mb-3">
                                <label asp-for="IdCognos" class="col-form-label text-gray-600">Cognos ID</label>
                                <input asp-for="IdCognos" class="form-control bg-transparent" placeholder="Cognos ID" />
                                <span asp-validation-for="IdCognos" class="invalid-feedback"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="fv-row mb-3">
                                <label asp-for="IdTipoEje" class="col-form-label text-gray-600">Tipo Eje</label>
                                <input asp-for="IdTipoEje" class="form-control bg-transparent" placeholder="Tipo Eje" />
                                <span asp-validation-for="IdTipoEje" class="invalid-feedback"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="fv-row mb-3">
                                <label asp-for="Negocio" class="col-form-label text-gray-600">Negocio</label>
                                <input asp-for="Negocio" class="form-control bg-transparent" placeholder="Negocio" />
                                <span asp-validation-for="Negocio" class="invalid-feedback"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="fv-row mb-3">
                                <label asp-for="Area" class="col-form-label text-gray-600">Área</label>
                                <input asp-for="Area" class="form-control bg-transparent" placeholder="Área" />
                                <span asp-validation-for="Area" class="invalid-feedback"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="fv-row mb-3">
                                <label asp-for="Anio" class="col-form-label text-gray-600">Año</label>
                                <input asp-for="Anio" class="form-control bg-transparent" placeholder="Año" />
                                <span asp-validation-for="Anio" class="invalid-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="fv-row mb-3">
                                <label asp-for="Color" class="col-form-label text-gray-600">Color</label>
                                <input asp-for="Color" class="form-control bg-transparent" placeholder="Color" />
                                <span asp-validation-for="Color" class="invalid-feedback"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="fv-row mb-3">
                                <label asp-for="Rotulo" class="col-form-label text-gray-600">Rótulo</label>
                                <input asp-for="Rotulo" class="form-control bg-transparent" placeholder="Rótulo" />
                                <span asp-validation-for="Rotulo" class="invalid-feedback"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="fv-row mb-3">
                                <label asp-for="PlacaPe" class="col-form-label text-gray-600">Placa</label>
                                <input asp-for="PlacaPe" class="form-control bg-transparent" placeholder="Placa" />
                                <span asp-validation-for="PlacaPe" class="invalid-feedback"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="fv-row mb-3">
                                <label asp-for="Serie" class="col-form-label text-gray-600">Serie</label>
                                <input asp-for="Serie" class="form-control bg-transparent" placeholder="Serie" />
                                <span asp-validation-for="Serie" class="invalid-feedback"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="fv-row mb-3">
                                <label asp-for="Motor" class="col-form-label text-gray-600">Motor</label>
                                <input asp-for="Motor" class="form-control bg-transparent" placeholder="Motor" />
                                <span asp-validation-for="Motor" class="invalid-feedback"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="fv-row mb-3">
                                <label asp-for="Carroc" class="col-form-label text-gray-600">Carrocería</label>
                                <input asp-for="Carroc" class="form-control bg-transparent" placeholder="Carrocería" />
                                <span asp-validation-for="Carroc" class="invalid-feedback"></span>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="fv-row mb-3">
                                <label asp-for="TarCirc" class="col-form-label text-gray-600">Tarjeta de Circulación</label>
                                <input asp-for="TarCirc" class="form-control bg-transparent" placeholder="Tarjeta de Circulación" />
                                <span asp-validation-for="TarCirc" class="invalid-feedback"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="fv-row mb-3">
                                <label asp-for="Gasoline" class="col-form-label text-gray-600">Tipo de Gasolina</label>
                                <input asp-for="Gasoline" class="form-control bg-transparent" placeholder="Tipo de Gasolina" />
                                <span asp-validation-for="Gasoline" class="invalid-feedback"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="fv-row mb-3">
                                <label asp-for="Encierro" class="col-form-label text-gray-600">Encierro</label>
                                <input asp-for="Encierro" class="form-control bg-transparent" placeholder="Encierro" />
                                <span asp-validation-for="Encierro" class="invalid-feedback"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="fv-row mb-3">
                                <label asp-for="CopFac" class="col-form-label text-gray-600">Copia de Factura</label>
                                <input asp-for="CopFac" class="form-control bg-transparent" placeholder="Copia de Factura" />
                                <span asp-validation-for="CopFac" class="invalid-feedback"></span>
                            </div>
                        </div>

                        <div class="col-md-6"> </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="CopTcir" class="col-form-label text-gray-600">Copia de Tarjeta de Circulación</label>
                                    <input asp-for="CopTcir" class="form-control bg-transparent" placeholder="Copia de Tarjeta de Circulación" />
                                    <span asp-validation-for="CopTcir" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="CopPla" class="col-form-label text-gray-600">Copia de Placas</label>
                                    <input asp-for="CopPla" class="form-control bg-transparent" placeholder="Copia de Placas" />
                                    <span asp-validation-for="CopPla" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="CopVer" class="col-form-label text-gray-600">Copia de Verificación</label>
                                    <input asp-for="CopVer" class="form-control bg-transparent" placeholder="Copia de Verificación" />
                                    <span asp-validation-for="CopVer" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="CopPol" class="col-form-label text-gray-600">Copia de Póliza</label>
                                    <input asp-for="CopPol" class="form-control bg-transparent" placeholder="Copia de Póliza" />
                                    <span asp-validation-for="CopPol" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="NoCirc" class="col-form-label text-gray-600">Número de Circulación</label>
                                    <input asp-for="NoCirc" class="form-control bg-transparent" placeholder="Número de Circulación" />
                                    <span asp-validation-for="NoCirc" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="DnoCirc" class="col-form-label text-gray-600">Detalle Número de Circulación</label>
                                    <input asp-for="DnoCirc" class="form-control bg-transparent" placeholder="Detalle Número de Circulación" />
                                    <span asp-validation-for="DnoCirc" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="Proveed" class="col-form-label text-gray-600">Proveedor</label>
                                    <input asp-for="Proveed" class="form-control bg-transparent" placeholder="Proveedor" />
                                    <span asp-validation-for="Proveed" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="FCompra" class="col-form-label text-gray-600">Fecha de Compra</label>
                                    <input asp-for="FCompra" type="date" class="form-control bg-transparent" />
                                    <span asp-validation-for="FCompra" class="invalid-feedback"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="Factura" class="col-form-label text-gray-600">Factura</label>
                                    <input asp-for="Factura" class="form-control bg-transparent" placeholder="Factura" />
                                    <span asp-validation-for="Factura" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="Costo" class="col-form-label text-gray-600">Costo</label>
                                    <input asp-for="Costo" type="number" step="0.01" class="form-control bg-transparent" placeholder="Costo" />
                                    <span asp-validation-for="Costo" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="Tariave" class="col-form-label text-gray-600">Tarifa Vehicular</label>
                                    <input asp-for="Tariave" class="form-control bg-transparent" placeholder="Tarifa Vehicular" />
                                    <span asp-validation-for="Tariave" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="Ntariave" class="col-form-label text-gray-600">Nombre Tarifa Vehicular</label>
                                    <input asp-for="Ntariave" class="form-control bg-transparent" placeholder="Nombre Tarifa Vehicular" />
                                    <span asp-validation-for="Ntariave" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="KmAcum" class="col-form-label text-gray-600">Kilometraje Acumulado</label>
                                    <input asp-for="KmAcum" type="number" step="0.01" class="form-control bg-transparent" placeholder="Kilometraje Acumulado" />
                                    <span asp-validation-for="KmAcum" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="StVehic" class="col-form-label text-gray-600">Estado del Vehículo</label>
                                    <input asp-for="StVehic" class="form-control bg-transparent" placeholder="Estado del Vehículo" />
                                    <span asp-validation-for="StVehic" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="FBaja" class="col-form-label text-gray-600">Fecha de Baja</label>
                                    <input asp-for="FBaja" type="date" class="form-control bg-transparent" />
                                    <span asp-validation-for="FBaja" class="invalid-feedback"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="ColInt" class="col-form-label text-gray-600">Color Interior</label>
                                    <input asp-for="ColInt" class="form-control bg-transparent" placeholder="Color Interior" />
                                    <span asp-validation-for="ColInt" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="RegFed" class="col-form-label text-gray-600">Registro Federal</label>
                                    <input asp-for="RegFed" type="number" step="0.01" class="form-control bg-transparent" placeholder="Registro Federal" />
                                    <span asp-validation-for="RegFed" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="EdregPl" class="col-form-label text-gray-600">Edición Registro Placa</label>
                                    <input asp-for="EdregPl" class="form-control bg-transparent" placeholder="Edición Registro Placa" />
                                    <span asp-validation-for="EdregPl" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="ColEst" class="col-form-label text-gray-600">Color Estado</label>
                                    <input asp-for="ColEst" class="form-control bg-transparent" placeholder="Color Estado" />
                                    <span asp-validation-for="ColEst" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="Caja" class="col-form-label text-gray-600">Caja</label>
                                    <input asp-for="Caja" class="form-control bg-transparent" placeholder="Caja" />
                                    <span asp-validation-for="Caja" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="NecRem" class="col-form-label text-gray-600">Necesidad de Remolque</label>
                                    <input asp-for="NecRem" class="form-control bg-transparent" placeholder="Necesidad de Remolque" />
                                    <span asp-validation-for="NecRem" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="Relevo" class="col-form-label text-gray-600">Relevo</label>
                                    <input asp-for="Relevo" class="form-control bg-transparent" placeholder="Relevo" />
                                    <span asp-validation-for="Relevo" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="Rentado" class="col-form-label text-gray-600">Rentado</label>
                                    <input asp-for="Rentado" class="form-control bg-transparent" placeholder="Rentado" />
                                    <span asp-validation-for="Rentado" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="ColRuta" class="col-form-label text-gray-600">Color Ruta</label>
                                    <input asp-for="ColRuta" class="form-control bg-transparent" placeholder="Color Ruta" />
                                    <span asp-validation-for="ColRuta" class="invalid-feedback"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="CauBaja" class="col-form-label text-gray-600">Causa de Baja</label>
                                    <input asp-for="CauBaja" class="form-control bg-transparent" placeholder="Causa de Baja" />
                                    <span asp-validation-for="CauBaja" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="VRecupe" class="col-form-label text-gray-600">Valor Recuperación</label>
                                    <input asp-for="VRecupe" type="number" step="0.01" class="form-control bg-transparent" placeholder="Valor Recuperación" />
                                    <span asp-validation-for="VRecupe" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="KmGaran" class="col-form-label text-gray-600">Kilometraje Garantía</label>
                                    <input asp-for="KmGaran" type="number" step="0.01" class="form-control bg-transparent" placeholder="Kilometraje Garantía" />
                                    <span asp-validation-for="KmGaran" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="MesGara" class="col-form-label text-gray-600">Mes Garantía</label>
                                    <input asp-for="MesGara" class="form-control bg-transparent" placeholder="Mes Garantía" />
                                    <span asp-validation-for="MesGara" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="EcoAnt" class="col-form-label text-gray-600">Económico Anterior</label>
                                    <input asp-for="EcoAnt" class="form-control bg-transparent" placeholder="Económico Anterior" />
                                    <span asp-validation-for="EcoAnt" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="LocFor" class="col-form-label text-gray-600">Localización Foránea</label>
                                    <input asp-for="LocFor" class="form-control bg-transparent" placeholder="Localización Foránea" />
                                    <span asp-validation-for="LocFor" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="Baja" class="col-form-label text-gray-600">Baja</label>
                                    <input asp-for="Baja" class="form-control bg-transparent" placeholder="Baja" />
                                    <span asp-validation-for="Baja" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="PesoMinimo" class="col-form-label text-gray-600">Peso Mínimo</label>
                                    <input asp-for="PesoMinimo" type="number" class="form-control bg-transparent" placeholder="Peso Mínimo" />
                                    <span asp-validation-for="PesoMinimo" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="PesoMaximo" class="col-form-label text-gray-600">Peso Máximo</label>
                                    <input asp-for="PesoMaximo" type="number" class="form-control bg-transparent" placeholder="Peso Máximo" />
                                    <span asp-validation-for="PesoMaximo" class="invalid-feedback"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="VolumenMinimo" class="col-form-label text-gray-600">Volumen Mínimo</label>
                                    <input asp-for="VolumenMinimo" type="number" step="0.01" class="form-control bg-transparent" placeholder="Volumen Mínimo" />
                                    <span asp-validation-for="VolumenMinimo" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="VolumenMaximo" class="col-form-label text-gray-600">Volumen Máximo</label>
                                    <input asp-for="VolumenMaximo" type="number" step="0.01" class="form-control bg-transparent" placeholder="Volumen Máximo" />
                                    <span asp-validation-for="VolumenMaximo" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="TipoLicenciaRequerida" class="col-form-label text-gray-600">Tipo de Licencia Requerida</label>
                                    <input asp-for="TipoLicenciaRequerida" class="form-control bg-transparent" placeholder="Tipo de Licencia Requerida" />
                                    <span asp-validation-for="TipoLicenciaRequerida" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="PermisoCargaAceite" class="col-form-label text-gray-600">Permiso de Carga de Aceite</label>
                                    <input asp-for="PermisoCargaAceite" class="form-control bg-transparent" placeholder="Permiso de Carga de Aceite" />
                                    <span asp-validation-for="PermisoCargaAceite" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="VigenciaPermisoAceite" class="col-form-label text-gray-600">Vigencia Permiso Aceite</label>
                                    <input asp-for="VigenciaPermisoAceite" type="date" class="form-control bg-transparent" />
                                    <span asp-validation-for="VigenciaPermisoAceite" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="VigenciaTarjetaCircula" class="col-form-label text-gray-600">Vigencia Tarjeta de Circulación</label>
                                    <input asp-for="VigenciaTarjetaCircula" type="date" class="form-control bg-transparent" />
                                    <span asp-validation-for="VigenciaTarjetaCircula" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="Asigna" class="col-form-label text-gray-600">Asignación</label>
                                    <input asp-for="Asigna" class="form-control bg-transparent" placeholder="Asignación" />
                                    <span asp-validation-for="Asigna" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="Total" class="col-form-label text-gray-600">Total</label>
                                    <input asp-for="Total" type="number" class="form-control bg-transparent" placeholder="Total" />
                                    <span asp-validation-for="Total" class="invalid-feedback"></span>
                                </div>  
                            </div>

                            <div class="col-md-6">
                                <div class="fv-row mb-3">
                                    <label asp-for="Usuario" class="col-form-label text-gray-600">Usuario</label>
                                    <input asp-for="Usuario" class="form-control bg-transparent" placeholder="Usuario" />
                                    <span asp-validation-for="Usuario" class="invalid-feedback"></span>
                                </div>
                            </div>
                        </div>

                            <div class="text-end">
                        <button type="submit" id="kt_vehiculo_in_submit" class="btn btn-primary btn-sm">
                            <span class="indicator-label">Guardar</span>
                            <span class="indicator-progress">
                                Por favor espere...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--end::Content-->
@section scripts {
    <script src="~/js/logistica/vehiculodetalle/add.js"></script>
    <script src="~/assets/js/widgets.bundle.js"></script>
    <script src="~/assets/js/custom/widgets.js"></script>
}