@using SUVAN.BackOffice.Models.ViewModel.Logistica;
@using SUVAN.BackOffice.Models.ViewModel.Enums;
@using SUVAN.BackOffice.Portal.Helper;
@inject IUsuarioHelper UsuarioHelper

@{
    ViewData["Title"] = "Causa de Siniestro";
}

@model SUVAN.BackOffice.Database.Entities.CausaSiniestro

@{
    var permisosPagina = await UsuarioHelper.GetPermisosPagina(User, EnumOpcionMenu.CausaSiniestro);



    if (permisosPagina == null)

    {

        return;

    }



    var isAgregarText = Model.Id_causa_siniestro == 0 ? "Agregar" : "Editar";
}

<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar">
    <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
        <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
            <div class="page-title d-flex flex-column justify-content-center gap-1 me-3">
                <a href="~/CausaSiniestro/Index" class="page-heading d-flex justify-content-center align-center text-dark fw-bold fs-3 m-0">
                    <i class="ki-duotone ki-left fs-1 pe-5"></i>
                    <span>@isAgregarText Causa de Siniestro</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!--end::Toolbar-->
<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
    <div id="kt_app_content_container" class="app-container container-fluid">
        <div class="card">
            <div class="card-body py-4">
                <form class="form w-100" novalidate="novalidate" id="kt_causa_siniestro_in_form" data-kt-redirect-url="/" asp-controller="CausaSiniestro" asp-action="AgregarCausaSiniestro" method="post">
                    @Html.AntiForgeryToken()
                    <input asp-for="Id_causa_siniestro" type="hidden" />
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="fv-row mb-3">
                                <label asp-for="Descripcion" class="col-form-label text-gray-600 required">Descripción</label>
                                <input asp-for="Descripcion" class="form-control bg-transparent" placeholder="Descripción de la causa de siniestro" />
                                <span asp-validation-for="Descripcion" class="invalid-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <div class="text-end">
                        <button type="submit" id="kt_causa_siniestro_in_submit" class="btn btn-primary btn-sm">
                            <span class="indicator-label">Guardar</span>
                            <span class="indicator-progress">
                                Por favor espere...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--end::Content-->
@section scripts {
    <script src="~\js\logistica\causa_siniestro\add.js"></script>
    <script src="~/assets/js/widgets.bundle.js"></script>
    <script src="~/assets/js/custom/widgets.js"></script>
}