@using SUVAN.BackOffice.Models.ViewModel.Configuracion;
@using SUVAN.BackOffice.Models.ViewModel.Enums;
@using SUVAN.BackOffice.Portal.Helper;
@inject IUsuarioHelper UsuarioHelper
@{
  ViewData["Title"] = "Política compensaciones";
}
@model AgregarPoliticaCompensacionViewModel

@{
  var permisosPagina = await UsuarioHelper.GetPermisosPagina(User, EnumOpcionMenu.politicaCompensacion);
  if (permisosPagina == null)
  {
    return;
  }
  var isAgaregarText = Model.PoliticaId == 0 ? "Agregar" : "Editar";
}

<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar ">
  <!--begin::Toolbar container-->
  <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
    <!--begin::Toolbar wrapper-->
    <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
      <!--begin::Page title-->
      <div class="page-title d-flex flex-column justify-content-center gap-1 me-3">
        <!--begin::Title-->
        <a href="~/politicacompensacion" class="page-heading d-flex justify-content-center align-center text-dark fw-bold fs-3 m-0 ">
          <i class="ki-duotone ki-left fs-1 pe-5">
          </i>
          <span>@isAgaregarText política cliente compensación - cancelación</span>
        </a>
        <!--end::Title-->

      </div>
      <!--end::Page title-->

    </div>
    <!--end::Toolbar wrapper-->
  </div>
  <!--end::Toolbar container-->
</div>
<!--end::Toolbar-->
<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
  <!--begin::Content container-->
  <div id="kt_app_content_container" class="app-container container-fluid">
    <form class="form w-100" novalidate="novalidate" id="kt_politica_in_form" data-kt-redirect-url="/" asp-controller="PoliticaCompensacion" asp-action="Agregar" method="post">
      @Html.AntiForgeryToken()
      <div asp-validation-summary="All" class="text-danger"></div>
      <input asp-for="PoliticaId" type="hidden" />


      <div class="row">

        <div class="col-md-12">
          <!--begin::Card-->
          <div class="card  my-4">

            <!--begin::Card body-->
            <div class="card-body py-4">
              <div class="row">
                <div class="col-md-12">
                  <h4>Tipo de política</h4>
                  <div class="fv-row mb-8">
                    <div class="form-check form-check-custom form-check-solid my-4">
                      <input class="form-check-input" asp-for="TipoPolitca" type="radio" value="1" />
                      <label class="form-check-label" asp-for="TipoPolitca">
                        Cancelación
                      </label>
                    </div>
                    <div class="form-check form-check-custom form-check-solid my-4">
                      <input class="form-check-input" asp-for="TipoPolitca" type="radio" value="2" />
                      <label class="form-check-label" asp-for="TipoPolitca">
                        Compensación
                      </label>
                    </div>
                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                      <span asp-validation-for="TipoPolitca"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="fv-row mb-8">
                    <label asp-for="RangoTiempo" class="col-md-12 col-form-label text-gray-600 required">Rango de tiempo</label>
                    <div class="col-md-6">
                      <input asp-for="RangoTiempo" class="form-control bg-transparent" placeholder="rango tiempo" maxlength="250" />
                      <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                        <span asp-validation-for="RangoTiempo"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h4>Tipo de tiempo</h4>
                  <div class="fv-row mb-8">
                    <div class="form-check form-check-custom form-check-solid my-4">
                      <input class="form-check-input" asp-for="TipoTiempo" type="radio" value="1" />
                      <label class="form-check-label" asp-for="TipoTiempo">
                        Días
                      </label>
                    </div>
                    <div class="form-check form-check-custom form-check-solid my-4">
                      <input class="form-check-input" asp-for="TipoTiempo" type="radio" value="2" />
                      <label class="form-check-label" asp-for="TipoTiempo">
                        Horas
                      </label>
                    </div>
                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                      <span asp-validation-for="TipoTiempo"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="fv-row mb-8">
                    <label asp-for="PorcentajeCompensacion" class="col-md-12 col-form-label text-gray-600 required">Porcentaje</label>
                    <div class="col-md-6">
                      <input asp-for="PorcentajeCompensacion" class="form-control bg-transparent" placeholder="procentaje" maxlength="250" />
                      <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                        <span asp-validation-for="PorcentajeCompensacion"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="fv-row mb-8">
                    <div class="col-sm-4">
                      <div class="form-check">
                        <label asp-for="Activo" class="form-check-label"></label>
                        <input asp-for="Activo" class="form-check-input" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end::Card body-->
          </div>
          <!--end::Card-->
        </div>

      </div>
      <div class="row">
        <div class="col-md-12 my-10">
          <div class="mb-10 text-end">
            <button type="submit" id="kt_politica_in_submit" class="btn btn-primary">
              <!--begin::Indicator label-->
              <span class="indicator-label">Guardar</span>
              <!--end::Indicator label-->
              <!--begin::Indicator progress-->
              <span class="indicator-progress">
                Por favor espere...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
              </span>
              <!--end::Indicator progress-->
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!--end::Content container-->
</div>
<!--end::Content-->
@section scripts {
  <script src="~/js/configuracion/politicacompensacion/add.js" asp-append-version="true"></script>

}